In [ ]:
import pandas as pd

In [2]:
df = pd.read_csv('../data/input/in_time.csv')

## Data cleaning - train

We clean the traing dataset and in parallel develop a function clean_df due to the high size of the file so that every team member can clean the data independently without uploading the whole cleeaning dataframe.

In [3]:
df

,Ref_month,Customer_id,Birth_date,No_dependants,Time_in_address,Time_in_current_job,Credit_cards,Debit_cards,Active_accounts,Oldest_account_date,...,out_transactions_amt_H8,out_transactions_amt_H7,out_transactions_amt_H6,out_transactions_amt_H5,out_transactions_amt_H4,out_transactions_amt_H3,out_transactions_amt_H2,out_transactions_amt_H1,out_transactions_amt_H0,Target
0,11-2022,33344475,21-05-1988,0,3.41,4.13,0,2,2,26-06-2008,...,4576.57,3981.55,4607.80,4182.93,3831.11,4210.16,3832.29,4727.64,4022.14,0
1,07-2022,38290809,07-07-1983,1,2.28,11.00,0,1,1,16-05-2015,...,3472.92,3559.04,3564.92,3614.82,3602.57,3552.99,3584.06,3512.58,3624.90,0
2,01-2022,33178125,16-09-1982,1,8.99,1.73,1,2,1,11-02-2005,...,14188.19,12669.79,13334.48,12731.75,12651.15,12282.69,12287.79,12827.02,12984.93,0
3,12-2022,37129367,13-05-1985,2,5.55,1.76,0,1,1,27-01-2006,...,4286.46,3914.78,4005.07,4094.73,3926.17,4433.92,3964.59,4014.69,4331.89,0
4,06-2022,31904710,26-03-1989,1,4.48,8.43,1,1,1,28-06-2008,...,4421.30,4666.98,5053.99,4816.87,4314.71,4711.88,5014.49,4152.09,5288.72,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
309995,03-2022,31104928,13-09-1989,1,1.92,0.63,0,1,1,22-02-2010,...,4545.08,4398.42,4115.42,4334.34,4113.10,4423.33,4726.98,4200.09,4099.52,0
309996,10-2022,38699158,09-10-1973,1,19.89,3.03,0,1,2,30-04-2007,...,4316.77,4325.59,4299.23,3834.01,3677.22,3835.20,4658.65,3992.09,4061.19,0
309997,05-2022,37435274,12-09-1986,3,3.92,3.90,0,2,1,23-08-2015,...,4640.76,5325.48,4832.33,5319.56,5117.83,4823.07,5510.92,5145.15,4537.41,0
309998,07-2022,36145194,11-07-1972,1,18.38,14.47,0,1,1,28-09-2004,...,4469.91,4319.86,4890.04,4619.89,5206.99,4425.69,4695.32,4632.36,4729.46,0
309999,11-2022,37156247,08-04-1990,1,8.04,0.60,0,1,1,19-01-2011,...,3645.49,3864.10,4222.49,3535.97,3598.82,3874.99,3738.57,3569.16,3713.22,0

In [4]:
df_sum = df.isna().sum()
df_sum[df_sum > 0]

Series([], dtype: int64)

We do not observe any NAs, but we observe that NAs are shown as -9999

In [5]:
# change all -9999 to NaN
df = df.replace(-9999, pd.np.nan)

/var/folders/rh/w6cl6rd95vj2g4s03scz_4fc0000gn/T/ipykernel_16033/3091666597.py:2: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead.
  df = df.replace(-9999, pd.np.nan)

In [7]:
# show values and columns where number of NANs is greater than 0 
df_sum1 = df.isnull().sum()
df_sum1[df_sum1 > 0]

Active_mortgages                         254239
Active_credit_card_lines                 273097
External_term_loan_balance               309855
External_mortgage_balance                309855
External_credit_card_balance             309855
limit_in_revolving_loans_H12              61090
limit_in_revolving_loans_H11              61090
limit_in_revolving_loans_H10              61090
limit_in_revolving_loans_H9               61090
limit_in_revolving_loans_H8               61090
limit_in_revolving_loans_H7               61090
limit_in_revolving_loans_H6               61090
limit_in_revolving_loans_H5               61090
limit_in_revolving_loans_H4               61090
limit_in_revolving_loans_H3               61090
limit_in_revolving_loans_H2               61090
limit_in_revolving_loans_H1               61090
limit_in_revolving_loans_H0               61090
utilized_limit_in_revolving_loans_H12     61090
utilized_limit_in_revolving_loans_H11     61090
utilized_limit_in_revolving_loans_H10     61090
utilized_limit_in_revolving_loans_H9      61090
utilized_limit_in_revolving_loans_H8      61090
utilized_limit_in_revolving_loans_H7      61090
utilized_limit_in_revolving_loans_H6      61090
utilized_limit_in_revolving_loans_H5      61090
utilized_limit_in_revolving_loans_H4      61090
utilized_limit_in_revolving_loans_H3      61090
utilized_limit_in_revolving_loans_H2      61090
utilized_limit_in_revolving_loans_H1      61090
utilized_limit_in_revolving_loans_H0      61090
dtype: int64

## Handle NAs

In [11]:
# change NAs in Active_mortgages to 0
df['Active_mortgages'] = df['Active_mortgages'].fillna(0)

In [15]:
# change NAs in selected columns to 0
columns_to_fill_with_0 = ['Active_mortgages', 
                          'Active_credit_card_lines', 
                          'External_term_loan_balance',
                          'External_mortgage_balance',
                          'External_credit_card_balance']

for column in columns_to_fill_with_0:
    df[column] = df[column].fillna(0)

# change NAs in all columns which contains selected names in column name to 0
columns_to_fill_with_0 = ['limit_in_revolving_loans_', 'utilized_limit_in_revolving_loans_']

for column in df.columns:
    for name in columns_to_fill_with_0:
        if name in column:
            df[column] = df[column].fillna(0)

In [16]:
df_sum2 = df.isnull().sum()
df_sum2[df_sum2 > 0]

Series([], dtype: int64)

## Data cleaning - test

We need to ensure that the testing dataset has the same problems as training dataset so we check it also here using the dunction clean_df developed basing on training dataframe.

In [17]:
df_test = pd.read_csv('../data/input/out_of_time.csv')

In [20]:
df_sum = df_test.isna().sum()
df_sum[df_sum > 0]

Series([], dtype: int64)

We also do not have any NAs, lets replace -9999 with NAa

In [21]:
# change all -9999 to NaN
df_test = df_test.replace(-9999, pd.np.nan)

/var/folders/rh/w6cl6rd95vj2g4s03scz_4fc0000gn/T/ipykernel_16033/316373672.py:2: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead.
  df_test = df_test.replace(-9999, pd.np.nan)

In [22]:
df_sum = df_test.isna().sum()
df_sum[df_sum > 0]

Active_mortgages                         131194
Active_credit_card_lines                 140750
External_term_loan_balance               159942
External_mortgage_balance                159942
External_credit_card_balance             159942
limit_in_revolving_loans_H12              31432
limit_in_revolving_loans_H11              31432
limit_in_revolving_loans_H10              31432
limit_in_revolving_loans_H9               31432
limit_in_revolving_loans_H8               31432
limit_in_revolving_loans_H7               31432
limit_in_revolving_loans_H6               31432
limit_in_revolving_loans_H5               31432
limit_in_revolving_loans_H4               31432
limit_in_revolving_loans_H3               31432
limit_in_revolving_loans_H2               31432
limit_in_revolving_loans_H1               31432
limit_in_revolving_loans_H0               31432
utilized_limit_in_revolving_loans_H12     31432
utilized_limit_in_revolving_loans_H11     31432
utilized_limit_in_revolving_loans_H10     31432
utilized_limit_in_revolving_loans_H9      31432
utilized_limit_in_revolving_loans_H8      31432
utilized_limit_in_revolving_loans_H7      31432
utilized_limit_in_revolving_loans_H6      31432
utilized_limit_in_revolving_loans_H5      31432
utilized_limit_in_revolving_loans_H4      31432
utilized_limit_in_revolving_loans_H3      31432
utilized_limit_in_revolving_loans_H2      31432
utilized_limit_in_revolving_loans_H1      31432
utilized_limit_in_revolving_loans_H0      31432
dtype: int64

We have exactly the same issues on this dataset, we can use the same funcion.

In [25]:
df_test = clean_df(df_test)

/var/folders/rh/w6cl6rd95vj2g4s03scz_4fc0000gn/T/ipykernel_16033/4210510657.py:2: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead.
  df = df.replace(-9999, pd.np.nan)