In [1]:
import pandas as pd
from feature_engeneering import modify_df
from feature_engeneering import drop_columns
from feature_engeneering import create_differences_columns
from feature_engeneering import drop_columns_after_transformation

In [2]:
df = pd.read_csv('../data/output/in_time_cleaned.csv')

In [3]:
df = modify_df(df)

/Users/kacpergruca/Documents/Projekty/ING_Lions_Den_2024_final/RiskBusters_Codes/feature_engeneering.py:30: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  df['Birth_date'] = pd.to_datetime(df['Birth_date'])

In [4]:
columns_to_delete_H = ['inc_transactions_amt_H', 'out_transactions_amt_H', 'overdue_term_loan_H', 
                       'overdue_credit_card_H', 'overdue_mortgage_H', 'income_H',
                       'current_amount_balance_H', 'savings_amount_balance_H', 'inc_transactions_amt_H',
                        'Savings_amount_balance_col_H', 'Current_amount_balance_col_H',
                        'Overdue_term_loan_H', 'Overdue_credit_card_H', 'Overdue_mortgage_H',
                        'inc_transactions_H', 'out_transactions_H', 'inc_transactions_amt_H', 'out_transactions_amt_H',
                        'utilized_limit_in_revolving_loans_H', 'limit_in_revolving_loans_H']

columns_to_delete = ['Current_installment', 'Birth_date', 'Ref_month',
                     'Contract_end_date', 'Oldest_account_date']

In [5]:
df = drop_columns(df, columns_to_delete_H)

In [6]:
df

,Customer_id,No_dependants,Time_in_address,Time_in_current_job,Credit_cards,Debit_cards,Active_accounts,Active_loans,Active_mortgages,Active_credit_card_lines,...,Avg_inc_transactions_H8,Avg_out_transactions_H8,Avg_inc_transactions_H9,Avg_out_transactions_H9,Avg_inc_transactions_H10,Avg_out_transactions_H10,Avg_inc_transactions_H11,Avg_out_transactions_H11,Avg_inc_transactions_H12,Avg_out_transactions_H12
0,33344475,0,3.41,4.13,0,2,2,1,0.0,0.0,...,4107.410000,61.020933,2890.756667,49.505375,2121.057500,25.927785,3734.540000,50.285341,3611.225000,27.418582
1,38290809,1,2.28,11.00,0,1,1,1,0.0,0.0,...,2087.705000,35.080000,2097.500000,18.313402,2070.955000,12.996223,1391.676667,34.590374,2106.525000,26.569927
2,33178125,1,8.99,1.73,1,2,1,1,1.0,1.0,...,4266.757500,164.978953,9235.190000,71.874332,5723.086667,248.848200,5897.126667,215.138136,8568.415000,102.202966
3,37129367,2,5.55,1.76,0,1,1,1,0.0,0.0,...,2464.750000,26.459630,1611.236667,27.270186,1617.676667,34.875593,2379.860000,80.637925,1613.646667,44.000879
4,31904710,1,4.48,8.43,1,1,1,1,0.0,1.0,...,8853.070000,138.165625,1721.592000,37.942991,1735.256000,34.782707,2175.252500,54.802921,2903.723333,98.854545
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
309995,31104928,1,1.92,0.63,0,1,1,1,0.0,0.0,...,2833.380000,33.667259,2857.390000,18.844596,2764.830000,34.811293,1929.873333,106.482727,1436.745000,46.373667
309996,38699158,1,19.89,3.03,0,1,2,1,0.0,0.0,...,2001.130000,30.187203,1967.340000,24.889613,2074.736667,35.714741,2934.970000,55.538939,2950.640000,55.636338
309997,37435274,3,3.92,3.90,0,2,1,1,0.0,0.0,...,2005.053333,41.068673,3131.890000,16.039666,2984.795000,40.690424,1953.133333,39.678750,1989.506667,60.283625
309998,36145194,1,18.38,14.47,0,1,1,1,0.0,0.0,...,2404.603333,23.903262,3689.500000,68.395417,1795.847500,43.184786,3769.370000,168.558519,3670.030000,41.780693
309999,37156247,1,8.04,0.60,0,1,1,1,0.0,0.0,...,1692.573333,56.960781,2436.630000,47.098553,1684.830000,36.987048,2530.030000,34.890796,1674.616667,29.642941

In [7]:
# list of columns which has _H in the name in df_tes 
columns_H = [col for col in df.columns if '_H0' in col]

# delete last letter from oevery column in columns_H
columns_H = [col[:-1] for col in columns_H]
columns_H

['DPD_term_loan_H',
 'DPD_credit_card_H',
 'DPD_mortgage_H',
 'Default_flag_H',
 'Os_term_loan_H',
 'Os_credit_card_H',
 'Os_mortgage_H',
 'Payments_term_loan_H',
 'Payments_credit_card_H',
 'Payments_mortgage_H',
 'Income_H',
 'Current_amount_balance_H',
 'Savings_amount_balance_H',
 'DTI_H',
 'Overdue_to_Income_Ratio_H',
 'Financial_Liquidity_Ratio_H',
 'Financial_stability_index_H',
 'Overdue_aggregation_H',
 'Avg_inc_transactions_H',
 'Avg_out_transactions_H']

In [8]:
df = create_differences_columns(df, columns_H)

/Users/kacpergruca/Documents/Projekty/ING_Lions_Den_2024_final/RiskBusters_Codes/feature_engeneering.py:280: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[new_column_name] = (df[column + first_column_sufix] - df[column + second_column_sufix])
/Users/kacpergruca/Documents/Projekty/ING_Lions_Den_2024_final/RiskBusters_Codes/feature_engeneering.py:280: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[new_column_name] = (df[column + first_column_sufix] - df[column + second_column_sufix])
/Users/kacpergruca/Documents/Projekty/ING_Lions_Den_2024_final/RiskBusters_Codes/feature_engeneering.py:280: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[new_column_name] = (df[column + first_column_sufix] - df[column + second_column_sufix])
/Users/kacpergruca/Documents/Projekty/ING_Lions_Den_2024_final/RiskBusters_Codes/feature_engeneering.py:280: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[new_column_name] = (df[column + first_column_sufix] - df[column + second_column_sufix])
/Users/kacpergruca/Documents/Projekty/ING_Lions_Den_2024_final/RiskBusters_Codes/feature_engeneering.py:280: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[new_column_name] = (df[column + first_column_sufix] - df[column + second_column_sufix])
/Users/kacpergruca/Documents/Projekty/ING_Lions_Den_2024_final/RiskBusters_Codes/feature_engeneering.py:280: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[new_column_name] = (df[column + first_column_sufix] - df[column + second_column_sufix])
/Users/kacpergruca/Documents/Projekty/ING_Lions_Den_2024_final/RiskBusters_Codes/feature_engeneering.py:280: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[new_column_name] = (df[column + first_column_sufix] - df[column + second_column_sufix])
/Users/kacpergruca/Documents/Projekty/ING_Lions_Den_2024_final/RiskBusters_Codes/feature_engeneering.py:280: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[new_column_name] = (df[column + first_column_sufix] - df[column + second_column_sufix])
/Users/kacpergruca/Documents/Projekty/ING_Lions_Den_2024_final/RiskBusters_Codes/feature_engeneering.py:280: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[new_column_name] = (df[column + first_column_sufix] - df[column + second_column_sufix])
/Users/kacpergruca/Documents/Projekty/ING_Lions_Den_2024_final/RiskBusters_Codes/feature_engeneering.py:280: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[new_column_name] = (df[column + first_column_sufix] - df[column + second_column_sufix])
/Users/kacpergruca/Documents/Projekty/ING_Lions_Den_2024_final/RiskBusters_Codes/feature_engeneering.py:280: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[new_column_name] = (df[column + first_column_sufix] - df[column + second_column_sufix])
/Users/kacpergruca/Documents/Projekty/ING_Lions_Den_2024_final/RiskBusters_Codes/feature_engeneering.py:280: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[new_column_name] = (df[column + first_column_sufix] - df[column + second_column_sufix])
/Users/kacpergruca/Documents/Projekty/ING_Lions_Den_2024_final/RiskBusters_Codes/feature_engeneering.py:280: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[new_column_name] = (df[column + first_column_sufix] - df[column + second_column_sufix])
/Users/kacpergruca/Documents/Projekty/ING_Lions_Den_2024_final/RiskBusters_Codes/feature_engeneering.py:280: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[new_column_name] = (df[column + first_column_sufix] - df[column + second_column_sufix])
/Users/kacpergruca/Documents/Projekty/ING_Lions_Den_2024_final/RiskBusters_Codes/feature_engeneering.py:280: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[new_column_name] = (df[column + first_column_sufix] - df[column + second_column_sufix])
/Users/kacpergruca/Documents/Projekty/ING_Lions_Den_2024_final/RiskBusters_Codes/feature_engeneering.py:280: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[new_column_name] = (df[column + first_column_sufix] - df[column + second_column_sufix])
/Users/kacpergruca/Documents/Projekty/ING_Lions_Den_2024_final/RiskBusters_Codes/feature_engeneering.py:280: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[new_column_name] = (df[column + first_column_sufix] - df[column + second_column_sufix])

In [9]:
columns = df.columns
columns = pd.DataFrame(columns)
columns

                               0
0                    Customer_id
1                  No_dependants
2                Time_in_address
3            Time_in_current_job
4                   Credit_cards
..                           ...
338   Avg_inc_transactions_H0_H6
339  Avg_inc_transactions_H0_H12
340   Avg_out_transactions_H0_H3
341   Avg_out_transactions_H0_H6
342  Avg_out_transactions_H0_H12

[343 rows x 1 columns]

In [12]:
df = drop_columns_after_transformation(df, columns_H)

In [13]:
columns = df.columns
columns = pd.DataFrame(columns)
columns

                              0
0                   Customer_id
1                 No_dependants
2               Time_in_address
3           Time_in_current_job
4                  Credit_cards
..                          ...
78   Avg_inc_transactions_H0_H6
79  Avg_inc_transactions_H0_H12
80   Avg_out_transactions_H0_H3
81   Avg_out_transactions_H0_H6
82  Avg_out_transactions_H0_H12

[83 rows x 1 columns]

In [15]:
nulls = df.isna().sum()
nulls[nulls > 0]

Overdue_to_Income_Ratio_H0_H3          1
Overdue_to_Income_Ratio_H0_H6          1
Overdue_to_Income_Ratio_H0_H12         1
Financial_stability_index_H0_H3     3090
Financial_stability_index_H0_H6     3061
Financial_stability_index_H0_H12    3064
dtype: int64

In [16]:
# drop all NaN values
df = df.dropna()

In [18]:
df.to_csv('../data/output/fe/in_time_fe.csv')